[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule "bundle/vim-easymotion"]
	path = bundle/vim-easymotion
	url = git://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree
